body {
    margin:auto;
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 4.5vh;
}

.aap {
    font-family: 'Bangers', cursive;
    text-decoration: none;
    color: #ff8400;
    font-size: 50px;
    
}
a:hover {
    color: hotpink;
}

img {
    margin:auto;
    display:block;
}